body {
  font-family: "Spartan", sans-serif;
  font-size: 0.9375rem;

  background-image: url(../images/bg-pattern-top-desktop.svg),
    url(../images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: calc(max(50%, 400px));
}
