body {
  font-family: "Spartan", sans-serif;
  font-size: 0.9375rem;
  // font-wights: 400, 500, 700;
  // overflow: hidden;
}
footer {
  height: 4.6875rem;

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
